
    body {
      margin: 0px;
      padding: 0px;
      background: url('yoganew.jpg');
      height: 700px;
      width: 1200px;
    }

    .left {
      position: absolute;
      display: inline-block;
      left: 60px;
      top: 20px;

    }

    .left img {
      width: 100px;
      padding: 1px;

    }

    .left div {
      margin-inline: -19px;
      text-align: center;
      line-height: 0px;
      font-size: 12px;
      font-family: cursive;
      font-weight: bold;
      font-style: inherit;
    }

    .middle {
      display: block;
      width: 56%;
      margin: 15px auto;
      top: 20px;
      font-family: 'Times New Roman', Times, serif;

    }

    .right {
      position: absolute;
      right: 30px;
      top: 16px;
      display: inline-block;
    }

    .navbar li {
      display: inline-block;


    }

    .navbar li a {
      color: black;
      padding: 22px;
      text-decoration: none;
    }

    .navbar li a:hover,
    .navbar li a.active {
      text-decoration: underline;
      color: rgb(110, 109, 109);

    }

    .btn {
      font-family: 'Baloo Bhai', cursive;
      margin: 27px -1px;
      color: black;
      background-color: rgb(255, 255, 255);
      border: 2px solid rgb(148, 148, 148);
      border-radius: 20px;
      padding: 0px 16px;
      font-size: 15px;
      cursor: pointer;
    }

    .btn:hover {
      background-color: rgb(185, 181, 181);
    }

    .container {
      margin: 80px 620px;
      padding: 50px 60px;
      width: 33%;
      border-radius: 20px;

    }

    .form-group input {
      text-align: center;
      margin: 3px auto;
      display: block;
      padding: 12px;
      border: 3px black double;
      width: 365px;
      font-size: large;
      border-radius: 4px;
    }

    .btn1 {
      text-align: center;
      margin: 6px auto;
      display: block;
      padding: 7px;
      border: 23px white;
      width: 400px;
      font-size: medium;
      border-radius: 22px;
      float: right;
      background-color: black;
      color: white;
      margin-inline: -2px;


    }
 